* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;    
}

ul, 
ol {
    list-style-type: none;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.wrapper {
    z-index: 1;
    max-width: 1920px;
    margin: 0 auto;
}

.wrapper__container {
    width: 63.3%;
    margin: 10px auto;
    padding: 20px 0 0 30px;
    background-color: #fbfbfb;
    box-shadow: #fbfbfb 0px 0px 20px;
}

.style_div {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background-color: #330033;
    transform: translateY(20px);
}

.cv__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.cv__name {
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    color: #330033;
}

.cv_position {
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    color: #330033;
}

.cv__photo {
    width: 250px;
    height: 100px;
    background-image: url('martlet.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

.cv__main {
    display: flex;
}

.section_block {
    flex: 2 1 0;
    padding-top: 50px;
    padding-right: 50px;
}

.aside_block {
    flex: 1 1 0;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 20px;
    background-color: rgba(85, 0, 85, 0.1);
    
    /* box-shadow: #550055 0px 0px 5px; */
}

.cv__about_me,
.cv__skills,
.cv__code,
.cv__contacts {
    margin-bottom: 50px;
}

.cv__subtitle {
    margin-bottom: 15px;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #929A9F;
}

.cv__text,
.cv__skills_item {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #330033;
}

.cv__text-link {
    display: inline-block;
    margin-bottom: 10px;
    color: #550055;
}

svg {
    transform: translateY(7px);
}

.cv__skills_item::before {
    display: inline-block; 
    width: 15px;
    height: 15px;
    margin-right: 10px;
    content: '';
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/fb-heart.gif);
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(2px);
}

.cv__skills_list {
    margin-left: 20px;
}

.cv__code_text {
    color: #330033;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
}

pre code {
    display: block;
    max-width: 100%;
    min-width: 100px;
    padding: 0;
    /* white-space: pre; */
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    font-family: monospace;
    text-align: left;
    background: none;
  }